Repository tauri-apps/tauri, pull requests merged in 2022-01, with the labels that each got.

#2551 refactor(cta): use `commander` instead of `minimst`
  .changes/cta-ci-compatible.md
  tooling/create-tauri-app/package.json
  tooling/create-tauri-app/src/dependency-manager.ts
  tooling/create-tauri-app/src/helpers/package-manager.ts
  tooling/create-tauri-app/src/helpers/update-package-json.ts
  tooling/create-tauri-app/src/helpers/update-tauri-conf.ts
  tooling/create-tauri-app/src/index.ts
  tooling/create-tauri-app/src/recipes/cljs.ts
  tooling/create-tauri-app/src/recipes/ng-cli.ts
  tooling/create-tauri-app/src/recipes/react.ts
  tooling/create-tauri-app/src/recipes/solid.ts
  tooling/create-tauri-app/src/recipes/svelte.ts
  tooling/create-tauri-app/src/recipes/vite.ts
  tooling/create-tauri-app/src/recipes/vue-cli.ts
  tooling/create-tauri-app/src/shell.ts
  tooling/create-tauri-app/src/types/recipe.ts
  tooling/create-tauri-app/yarn.lock
Labels: create-tauri-app

#3158 feat(bundler): initialize msi install path with previous location
  .changes/bundler-msi-init-installdir.md
  tooling/bundler/src/bundle/windows/msi/wix.rs
  tooling/bundler/src/bundle/windows/templates/main.wxs
Labels: bundler

#3053 feat(core): add raw headers to HTTP API, closes #2695
  .changes/api-raw-headers.md
  .changes/raw-headers.md
  core/tauri/scripts/bundle.js
  core/tauri/src/api/http.rs
  tooling/api/src/http.ts
Labels: api.js

#2964 feat(api): support unknown types for event emit payload, closes #2929
  .changes/api-emit-payload-type.md
  core/tauri/scripts/bundle.js
  tooling/api/src/event.ts
  tooling/api/src/helpers/event.ts
  tooling/api/src/window.ts
Labels: api.js

#2971 feat: allow config's version to be a path to package.json, closes #2967
  .changes/version-package-json.md
  core/tauri-utils/src/config.rs
  examples/api/src-tauri/Cargo.lock
  examples/api/src-tauri/tauri.conf.json
  tooling/cli.rs/src/build.rs
Labels: cli.rs, core

#3228 Consistent event name usage
  .changes/consistent-event-name-usage.md
  tooling/api/src/event.ts
Labels: api.js
